.notthing {
    height: 500px;
    h2 {
        font-size: 2.5rem;
        margin-top: 25px;
        margin-bottom: 10px;
    }
    p {
        font-size: 1.6rem;
    }
    a {
        font-size: 1.5rem;
        font-weight: 500;
    }
}

.bill {
    margin-top: 200px;

    @media (max-width: 789.98px) {
        margin-top: unset;
    }
}
