$color-white: #ffffff;
$color-cyan: #4cb6cb;
$color-grayHight: #788188;
$color-black: #262626;
$color-blackLow: #232c32;
$color-green: #1ab667;
$color-violet: #232c32;
$color-gray: #f1f0f1;
$color-red: #ea1c00;
$color-text: #333;
$color-nav-color: #232c32;

.product {
    .ribbons {
        background-color: #0a5cd6;
        .title {
            font-size: 2rem;
            color: $color-white;
            margin: 15px 0;
            text-transform: uppercase;
        }
        .view-all {
            font-size: 1.6rem;
            color: $color-white;
            font-weight: bold;
            display: flex;
            align-items: center;
            i {
                margin-top: 2px;
                font-size: 2rem;
            }
        }
    }
    .connectting {
        width: 100vw;
        height: 100vh;
    }
}
